body {
    background-color: #000000;
    background-image: url('../img/stars.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}

.contenedor-imagenes {
    float: right; /* Alinea el contenedor de las imágenes a la izquierda */
    width: 48%; /* Ajusta el ancho para dejar espacio entre las imágenes */
    margin-top: 10%;
}

.contenedor-imagenes img {
    width: 100%;
    height: auto;
}

.contenedor-gif {
    float: left; /* Alinea el contenedor del GIF a la derecha */
    width: 45%; /* Ajusta el ancho del contenedor del GIF */
}

.contenedor-gif img {
    width: 100%;
    height: auto;
}

.contenedor-skills {
    width: 45%; /* Ajusta el ancho del contenedor del GIF */
    max-width: 50%;
    margin-bottom: 2%; /* Agrego un margen inferior para ajustar la separación */
}

.contenedor-skills img {
    width: 100%;
    height: auto;
}

.boton-container {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .contenedor-imagenes,
    .contenedor-gif {
        width: 100%;
        margin: 0 auto;
        margin-top: 10%;
    }
}
