body {
    background-color: #000000; /* Color de fondo negro */
    background-image: url('../img/stars.png'); /* URL de tu imagen de estrellas */
    background-size: cover; /* Ajusta la imagen al tamaño del cuerpo */
    background-attachment: fixed; /* Fija la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #000000; /* Color de texto blanco */
}

.contenedor-imagenes {
    float: right; /* Alinea el contenedor de las imágenes a la derecha */
    max-width: 50%; /* Opcional: limita el ancho del contenedor de las imágenes */
    margin-top: 10%; /* Agrega un margen superior de 20 píxeles (ajusta según lo necesites) */
    margin-right: 5%;
}

.contenedor-imagenes img {
    width: 100%; /* Hace que las imágenes sean responsivas */
    height: auto;
}

.contenedor-gif {
    float: left; /* Alinea el contenedor del GIF a la izquierda */
    max-width: 50%; /* Opcional: limita el ancho del contenedor del GIF */
}

.contenedor-gif img {
    width: 100%; /* Hace que el GIF sea responsivo */
    height: auto;
}

/* Alinea los contenedores de imágenes al centro en pantallas más pequeñas */
@media (max-width: 768px) {
    .contenedor-imagenes,
    .contenedor-gif {
        float: none; /* Elimina el flotante para centrar los contenedores */
        max-width: 100%; /* Ocupa todo el ancho disponible */
        margin: 0 auto; /* Centra horizontalmente */
        margin-top: 10%; /* Ajusta el margen superior según lo necesites */
    }
}
