.reproductor img {
    max-width: 100%; /* Ajusta el tamaño de la imagen del reproductor para tamaños de pantalla más pequeños */
    height: auto;
}

/* Estilos para tamaños de pantalla más pequeños */
@media (max-width: 100%) {
    .reproductor {
        height: 80px;
    }

    .caratula {
        max-width: 100px;
    }

    .reproductor img {
        max-width: 100%; /* Ajusta el tamaño de la imagen del reproductor para tamaños de pantalla más pequeños */
        height: auto;
    }
}

.controles-audio {
    flex: 2;
}

audio {
    width: 100%;
    background-color: transparent;
    border: none;
}

audio::-webkit-media-controls {
    background-color: transparent;
    border: none;
    color: #fff;
}

audio::-webkit-media-controls-panel {
    background-color: transparent;
}

.imagen-esquina {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%; /* Ajusta el tamaño de la imagen de la esquina */
    height: auto;
}
